<!DOCTYPE html/>
<html>
	<head>

	</head>
	<body>
		<div>
			<h1>Login with your nick name</h1>
			<form>
				<input name="name"type="text"/>
				<input type="submmit"/>
			</form>
		</div>
	</body>
</html>

