<!DOCTYPE html/>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	</head>
	<body>
		<div>
			<h1>Login with your nick name</h1>
			<form action="/login" method="POST">
				<input name="name"type="text"/>
				<input type="submit"/>
			</form>
		</div>
		<script src="/login.js"></script>
	</body>
</html>

